<p><%= @group_name %>の月次プラン</p>
<% if @plan.present? %>
<p><%= @plan.year %>年<%= @plan.month %>月の</p>
<% end %>
<p>目標金額</p>
<% if @plan.present? %>
<b><p id='money_amount'><%= @plan.money_amount %></p></b>
<% end %>
<p>利用履歴</p>
<div data-simplebar>
<table border='1' class="table">
    <thead class="thead-dark">
        <tr>
            <th>使った日</th>
            <th>使った金額</th>
            <th>用途</th>
            <th>使った人</th>
        </tr>
    </thead>
    <tbody>
    <% @usages.each do |usage| %>
        <tr>
            <td><%= usage.date %></td>
            <td><%= usage.spending_money %></td>
            <td><%= usage.purpose %></td>
            <td><%= usage.user.name %></td>
        </tr>
    <% end %>
    </tbody>
</table>
</div>

<hr>


<%= link_to("ユーザー詳細画面にもどる", "/users/#{current_user.id}") %>
<%= link_to("利用金額を登録する", "/groups/#{@group.id}/plans/#{@plan.id}/new") %>
