<p><%= @group_name %>の月次プラン</p>
<% if @plan.present? %>
<p><%= @plan.year %>年<%= @plan.month %>月の</p>
<% end %>
<p>目標金額</p>
<% if @plan.present? %>
<b><p id='money_amount'><%= @plan.money_amount%></p></b>
<% end %>
<p>利用履歴</p>
<table border='1' class="table">
    <thead class="thead-dark">
        <tr>
            <th>使った日</th>
            <th>使った金額</th>
            <th>用途</th>
            <th>使った人</th>
        </tr>
    </thead>
    <tbody>
    <% @usages.each do |usage|%>
        <tr>
            <td><%= usage.date  %></td>
            <td><%= usage.spending_money  %></td>
            <td><%= usage.purpose  %></td>
            <td><%= usage.user.name  %></td>
        </tr>
    <% end %>
    </tbody>
</table>
<hr>
<p>利用金額を入力する</p>
<%= form_with(model:@usage, local: true, id: 'usage', url: create_usage_path ) do |f| %>
    <%= f.hidden_field :plan_id, :value => @plan.id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <div>
        <% if @usage.errors.include?(:title) %>
         <p style="color: red;"><%= @usage.errors.full_messages_for(:title).first %>
　       <% end %>
    </div>
<div>
    <%= f.label :date, "使った日" %>
    <%= f.date_field :date, id: "date" %>
</div>
<div>
    <%= f.label :spending_money, "使った金額" %>
    <%= f.text_field :spending_money, id: "spending_money" %>
</div>
<div>
    <%= f.label :purpose, "用途" %>
</div>
<label>
<%= f.radio_button :purpose1, :male, {style: "width: 40px"} %>

  <%= f.label :purpose1, "コンビニ", {value: :male, style: "display: inline-block;"} %>
</label>
<div>
<%= f.radio_button :gender, :male, {style: "width: 40px"} %>

  <%= f.label :gender, "スーパー", {value: :male, style: "display: inline-block;"} %>
</div>
<div>
<%= f.radio_button :gender, :male, {style: "width: 40px"} %>

  <%= f.label :gender, "外食", {value: :male, style: "display: inline-block;"} %>
</div>
<div>
<%= f.radio_button :gender, :male, {style: "width: 40px"} %>

  <%= f.label :gender, "その他", {value: :male, style: "display: inline-block;"} %>
  <%= f.text_field :spending_money, id: "spending_money" %>
</div>
<%= f.submit "利用金額登録", data: {confirm: "登録してよろしいですか？"}%>
<% end %>

<%= link_to("ユーザー詳細画面にもどる", "/users/#{current_user.id}") %>