<header>
  <div class="ui two column grid container">
    <div class="column header-logo">
        <%= link_to("Atonanbo", "/") %>
    </div>

    <!--<% if user_signed_in? %>

    <div class="column" id="current_user">
      <%= current_user.name %>さん<br>(ユーザーID：<%= current_user.id%>)
    </div>
    <%end%>-->
    <div class="column ui inverted dropdown aligned right">
        <input type="hidden" name="menu">
        <div class="default"><i class="list icon"></i></div>
        <div class="menu">
        <% if user_signed_in? %>
          <div  class="item">
            <%= current_user.name %>さん<br>(ユーザーID：<%= current_user.id%>)
          </div>
          <div  class="item">
            <%= link_to("マイページ", "/users/#{current_user.id}") %>
          </div>
          <div class="item">
            <%= link_to("ログアウト", "/users/sign_out", method: :delete, data: {confirm: "本当にログアウトしますか？"}) %>
          </div>
        <% else %>
          <div class="item">
            <%= link_to("新規登録", "/users/sign_up") %>
          </div>
          <div class="item">
            <%= link_to("ログイン", "/users/sign_in") %>
          </div>
        <% end %>
        </div>
    </div>


  </div>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</header>
